@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
	font-family: "Raleway", sans-serif;
	background-color: hsl(229, 57%, 11%);
	background-image: url(img/bg-desktop.png);
	background-repeat: no-repeat;
	min-height: 100vh;
	padding: 0px 10px;
	margin: 0px;
	background-position: -50px 455px;
	background-size: 2200px;
}

main {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: flex-end;
}

.left {
	width: 240px;
	margin-right: 30px;
	height: 120px;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px 100px 10px 10px;
	padding: 52px 72px 50px 50px;
}

.right {
	margin-top: 50px;
	height: 70px;
	position: relative;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px;
	padding: 36px;
}

.icon {
	display: inline-flex;
	width: 30px; 
	height: 30px;
	margin: 30px 18px -4px -3px;
	border-radius: 10px;
	padding: 10px 12px;
	background-position: center;
	background-color: hsl(229, 57%, 11%);
	background-repeat: no-repeat;
}

.document {
	background-image: url(img/icon-document.svg);
} 

.folder {
	background-image: url(img/icon-folder.svg);
}

.upload {
	background-image: url(img/icon-upload.svg);
}

h1 {
	margin-top: 1px;
	font-size: 0.9em;
	font-weight: 400;
	color: hsl(243, 100%, 93%);
}

h2 {
	font-size: 2.5em;
	font-weight: 700;
	color: hsl(229, 57%, 11%);
}

span {
	font-size: 0.7em;
	margin-left: 12px;
	margin-top: 5px;
	text-transform: uppercase;
	color: hsl(229, 7%, 55%);
}

.progress-bar {
	background: hsl(229, 57%, 17%);
	width: 500px;
	border-radius: 25px;
	padding: 3px;
}

.fill {
	border-radius: 25px;
	width: 70%;
	height: 14px;
	position: relative;
	background: linear-gradient(to right, hsl(0deg 100% 83%), hsl(346deg 100% 72%));
}

.number {
	color: hsl(243, 100%, 93%);
	padding-top: 10px;
	font-size: 0.8em;
	font-weight: 400;
}

.number p {
	margin-top: 1px;
	float: right;
	color: hsl(243, 100%, 93%);
}

.ball {
	background-color: white;
	position: absolute;
	right: 1px;
	margin: 1px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.balloon-all {
	position: absolute;
	right: 40px;
	top: -50px;
} 

.balloon {
	background: #fff;
	border-radius: 10px;
	padding: 0px 20px;
	height: 70px;
	display:flex;
	align-items:center;
	color:white;
}

.balloon:after {
	content: '';
	position: absolute;
	transform: rotate(90deg);
	bottom: 11px;
	right: -10px;
	border: 20px solid transparent;
	border-top-color: #fff;
	border-bottom: 0;
	margin-bottom: -20px;	
}

/* ---- footer ---- */

footer {
	font-size: 0.9em;
	color: #fff;
	position: fixed;
	padding: 10px 0px;
	bottom: 0px;
	width: 100%;
	text-align: center; 
}

footer a {
	text-decoration: none;
	color: hsl(0deg 100% 83%);
}

footer a:hover {
	color: hsl(346deg 100% 72%);
}

/* ---- mobile ---- */

@media (max-width: 1050px) {

	body {
		background-image: url(img/bg-mobile.png);
		background-position: 2px 2px;
		background-repeat: round;
		background-size: cover;
	}

	.container {
		display: block;
		justify-content: center;
		margin: auto;
	}

	.right {
		margin-top: 20px;
		box-sizing: border-box;
		width: 340px;
		height: 144px;
	}

	.left {
		margin-right: unset;
		box-sizing: border-box;
		width: 340px;
		height: 214px;
	}

	.progress-bar {
		width: 262px;
	}

	.balloon {
		padding: 0px 16px;
	}

	.balloon:after {
		content: none;
	}

	.balloon-all {
		right: 104px;
    	top: 108px;
	} 

	h1 {
		text-align: ;
		margin-top: 1px;
		font-size: 0.9em;
		font-weight: 400;
		color: hsl(243, 100%, 93%);
	}
}
